<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="off">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
		<target name="hallOfFameLogger" xsi:type="File" fileName="Logs\file.log" 
            layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="hallOfFameLoggerRule" minlevel="Debug" writeTo="hallOfFameLogger" />
	</rules>
</nlog>